# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
cities_examined = pd.read_csv("../output_data/Retrieved_City_Weather_Data.csv")
cities_examined.head()

,Unnamed: 0,City,Approx. Latitude,Approx. Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed (mph),Actual Latitude,Actual Longitude,Country,Datetime (Local)
0,0,kloulklubed,3.222335,133.336777,75.20,94,75,9.82,7.04,134.26,PW,"07/02/2020, 06:40:32"
1,1,rikitea,-54.497065,-112.746685,69.12,69,15,21.74,-23.12,-134.97,PF,"07/01/2020, 12:40:32"
2,2,hami,39.870623,91.887579,74.89,20,52,7.70,42.80,93.45,CN,"07/02/2020, 05:40:32"
3,3,terrace bay,48.853837,-88.185405,77.00,53,20,5.82,48.78,-87.10,CA,"07/01/2020, 17:40:33"
4,4,saldanha,-40.961281,-3.791138,53.60,87,0,3.36,-33.01,17.94,ZA,"07/01/2020, 23:40:33"

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
#enable gmaps extension for this notebook
# !pip install gmaps
# jupyter nbextension enable --py gmaps

# Configure gmaps
gmaps.configure(api_key=g_key)

#set locations (lat, long) data for the heatmap
locations = cities_examined.loc[:, ["Actual Latitude", "Actual Longitude"]]


# Plot Heatmap
fig = gmaps.figure()


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cities_examined["Humidity (%)"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
select_cities = cities_examined[(cities_examined["Cloudiness"]<20) & (cities_examined["Humidity (%)"]<30) &
                                (cities_examined["Max Temperature (F)"]>70) & (cities_examined["Max Temperature (F)"]<80)]
select_cities

,Unnamed: 0,City,Approx. Latitude,Approx. Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed (mph),Actual Latitude,Actual Longitude,Country,Datetime (Local)
156,156,korla,39.735335,88.927543,75.16,23,2,10.02,41.76,86.15,CN,"07/02/2020, 05:41:08"
190,190,irpa irpa,-17.797439,-66.651817,77.00,13,0,6.93,-17.72,-66.27,BO,"07/01/2020, 17:41:16"
257,257,akdepe,42.133173,58.678733,75.20,29,0,16.11,42.06,59.38,TM,"07/02/2020, 02:41:31"

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = select_cities.loc[:, ["City", "Actual Latitude", "Actual Longitude", "Country", "Datetime (Local)"]]

hotel_df["Hotel Name"] = ""

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
#     "keyword": "hotel",
    "key": g_key
}

for i, row in hotel_df.iterrows():
    try:
        curr_lat = row["Actual Latitude"]
        curr_lng = row["Actual Longitude"]
        params["location"] = f"{curr_lat},{curr_lng}"

        base_places_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        name_address = requests.get(base_places_url, params)
        
        json_resp = name_address.json()
        
        hotel_name = json_resp["results"][0]["name"]
        
        hotel_df["Hotel Name"][i] = hotel_name
        
    except (KeyError, ValueError, IndexError):
        print("Hotel not found for the city of {}".format(row["City"]))

# print(json_resp["results"][0]["name"])
hotel_df

C:\Users\patri\anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Hotel not found for the city of irpa irpa

,City,Actual Latitude,Actual Longitude,Country,Datetime (Local),Hotel Name
156,korla,41.76,86.15,CN,"07/02/2020, 05:41:08",Gulisitan Hotel
190,irpa irpa,-17.72,-66.27,BO,"07/01/2020, 17:41:16",
257,akdepe,42.06,59.38,TM,"07/02/2020, 02:41:31",Мой дом

In [9]:
#drop locations where there are no hotels within 5000 meters of the latitude/longitude
hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
hotel_df

,City,Actual Latitude,Actual Longitude,Country,Datetime (Local),Hotel Name
156,korla,41.76,86.15,CN,"07/02/2020, 05:41:08",Gulisitan Hotel
257,akdepe,42.06,59.38,TM,"07/02/2020, 02:41:31",Мой дом

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Actual Latitude", "Actual Longitude"]]

In [11]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))